---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
        <!--<a>{{ post.tag }}</a>-->
        <p>
            <small>
            {{ post.date | date_to_string }} | tags:
            <span class="blog_post_categories">
                {% for tag in post.tags %}
                    {% if forloop.last %}
                        <a href="/tags/#{{ tag }}">{{ tag }}</a>
                    {% else %}
                        <a href="/tags/#{{ tag }}">{{ tag }}</a>,
                    {% endif %}
                {% endfor %}
            </span>
            | categories:
            <span class="blog_post_categories">
                {% for category in post.categories %}
                    {% if forloop.last %}
                        <a href="/categories/#{{ category }}">{{ category }}</a>
                    {% else %}
                        <a href="/categories/#{{ category }}">{{ category }}</a>,
                    {% endif %}
                {% endfor %}
            </span>
            </small>
        </p>
    </span>
    <p>{{ post.description }}</p>
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | relative_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</span>
  {% endif %}
</div>
{% endif %}
