<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.url }}/assets/My_Resume.pdf" target="_blank">Resume</a>
      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>-->
      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
      <span class="sidebar-nav-item">
          {% if site.data.social_media %}
          <div>
              {% assign sm = site.data.social_media %}
              {% for entry in sm %}
                {% assign key = entry | first %}
                {% if sm[key].id %}
                    <a class="icon-item" href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}">
                        <i class="{{ sm[key].fa-icon }}"></i>
                    </a>
                {% endif %}
              {% endfor %}
          </div>
          {% endif %}
      </span>
    </nav>
  
    <p>&copy; {{ site.time | date: '%Y' }} Rohith Mukku.</p>
  </div>
</div>
